<html>
    <head>
        <style>
            table {
                border: 1px solid black;
                border-collapse: collapse;
            }
            td {
                border-bottom: 1px solid black;
            }
        </style>
    </head>


    <body>
        <p1>
            <h1> This is the incredible page for <%- ticker -%> which is a great ticker. Maybe... </h1>
            <br>
            <b> Total Mentions: </b> <%- total_mentions -%>
            <b> Total Sentiment: </b> <%- total_sentiment -%>
            <br>
            Here's the raw data:
            <br>
            <table style="border: 1px solid black;">
                <thead>
                    <tr style="border: 1px solid black;"> 
                        <th> Date </th>
                        <th> Ticker </th>
                        <th> Count </th>
                        <th> Sentiment </th>
                    </tr>
                </thead>
                <tbody>
                    <% for (i = 0; i < rows.length; i++) { %>
                        <tr>
                            <td> <%- rows[i].date -%></td> 
                            <td>  <%- rows[i].ticker -%> </td>
                            <td> <%- rows[i].mentions -%></td>
                            <td> <%- rows[i].sentiment -%></td>

                        </tr>
                    <% }; %>
                </tbody>
            </table>
        </p1>
    </body>
</html>