<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        
    </head>


    <body>
        <div class="container">
            <%- include('fragments/navbar.ejs'); %>

            <p1 style="text-align: center;">
                <div class="row" style="width: 100%;">
                    <h1> <%- ticker -%> </h1>
                    <hr>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4" style="text-align: center;">
                        <canvas id="market_chart"></canvas>
                        
                    </div>
                        
                    <div class="col-lg-4"></div>
                    <table style="border: 1px solid black;" id="alpaca_table" hidden>
                        <thead>
                            <tr style="border: 1px solid black;"> 
                                <th> Date </th>
                                <th> open </th>
                                <th> close </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (i = 0; i < alpaca_rows.length; i++) { %>
                                <tr>
                                    <td> <%- alpaca_rows[i].startEpochTime -%></td> 
                                    <td>  <%- alpaca_rows[i].openPrice -%> </td>
                                    <td> <%- alpaca_rows[i].closePrice -%></td>
                                </tr>
                            <% }; %>
                        </tbody>
                    </table>
                    <hr>
                </div>
                <div class="row" style="width: 100%;">
                    <br>
                    <hr>
                </div>
                <div class="row" style="width: 100%;">
                    <div class="col-lg-6" style="text-align:center;">
                        <h1> Mentions Over Time </h1>
                        <canvas id="mentions_chart" width="500" height="300"></canvas>
                    </div>
                    <div class="col-lg-6" style="text-align:center; ">
                        <h1> Sentiment Over Time </h1>
                        <canvas id="sentiment_chart" width="500" height="300"></canvas>
                    </div>
                </div>
                <div class="row" style="width: 100%;">
                    <div class="col">
                        <br>
                        <b> Total Mentions: </b> <%- total_mentions -%>
                        <b> Total Sentiment: </b> <%- total_sentiment -%>
                        <br>

        
                        Here's the raw data:
                        <table style="border: 1px solid black;" id="table">
                            <thead>
                                <tr style="border: 1px solid black;"> 
                                    <th> Date </th>
                                    <th> Ticker </th>
                                    <th> Count </th>
                                    <th> Sentiment </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (i = 0; i < rows.length; i++) { %>
                                    <tr>
                                        <td> <%- rows[i].date -%></td> 
                                        <td>  <%- rows[i].ticker -%> </td>
                                        <td> <%- rows[i].mentions -%></td>
                                        <td> <%- rows[i].sentiment -%></td>
                                    </tr>
                                <% }; %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </p1>
        </div>






        </p1>
    </body>
    <script>
        var ment_ctx = document.getElementById('mentions_chart').getContext('2d');
        var sent_ctx = document.getElementById('sentiment_chart').getContext('2d');
        var table = document.getElementById('table');

        //variables to display the stocks price movement
        var market_ctx = document.getElementById('market_chart').getContext('2d');
        var alpaca_table = document.getElementById('alpaca_table');
        
        /*
         * Code to handle mentions and sentiment
         */

        //initializes lists to parse our data 
        var dates = [];
        var mentions = [];
        var sentiments = [];

        //gets the number of mentions
        for (var i = 1; i < table.rows.length; i++) {
            var d = table.rows[i].children[0].innerText;
            var m = table.rows[i].children[2].innerText;
            var s = table.rows[i].children[3].innerText;
            
            dates.push(d);
            mentions.push(m);
            sentiments.push(s);
        }
        var mention_chart = new Chart(ment_ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: '# of mentions',
                    data: mentions,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var sentiment_chart = new Chart(sent_ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: 'Sentiment',
                    data: mentions,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        /*
         * Code to handle market chart
         */
        //initializes lists to parse our data 
        var dates = [];
        var prices = [];

        //gets all the prices
        for (var i = 1; i < alpaca_table.rows.length; i++) {
            var d = alpaca_table.rows[i].children[0].innerText;
            var o = alpaca_table.rows[i].children[1].innerText;
            var c = alpaca_table.rows[i].children[2].innerText;
            
            dates.push(d);
            prices.push(o);
            prices.push(c);
        }
        var market_chart = new Chart(market_ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: 'Price',
                    data: prices,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                }
            }
        });
        

    </script>
</html>
